<h1>¡Bienvenido a Carnicería Charcutería Hnos Galiano Herreros!</h1>
<p>Estimado cliente,</p>
<p>Gracias por registrarte en nuestra plataforma. Para activar tu cuenta y comenzar a disfrutar de nuestros productos y ofertas especiales, por favor haz clic en el siguiente enlace:</p>
<p><a href="{{ url('app_activate_account', {'activationToken': activationToken}) }}">Activar mi cuenta</a></p>
<p>Ten en cuenta que este enlace tiene una validez limitada, así que te recomendamos activarlo cuanto antes.</p>
<p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos. Estamos aquí para servirte.</p>
<p>Saludos cordiales,</p>
<p>El equipo de Carnicería Charcutería Hnos Galiano Herreros</p>
