.titulo-centrado {
    text-align: center;
    margin-bottom: 20px;
}

.categoria {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.categoria-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en cada fila */
    gap: 80px; /* Aumenta este valor para más espacio entre los productos */
    margin-top: 20px;
}

.producto-item {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén alineados verticalmente */
    justify-content: space-between; /* El botón se mantiene al fondo */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-height: 400px; /* Ajusta este valor según lo que necesites */
}

.producto-item:hover {
    transform: scale(1.05);
}

.producto-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.producto-titulo {
    font-size: 18px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Empuja el botón hacia el fondo */
}

.add-to-cart:hover {
    background-color: #0056b3;
}



.contenedor {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0 20px; /* Añadir margen a ambos lados */
}


@media (max-width: 1200px) {
    .productos-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
    }
}

@media (max-width: 900px) {
    .productos-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .productos-container {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}





.filtros-ordenacion {
    margin-bottom: 20px;
    text-align: center;
}

.filtros-ordenacion a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

.filtros-ordenacion a:hover {
    text-decoration: underline;
}
