{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        background: #ffffff; /* Fondo completamente blanco */
    ">
        <img 
            src="/images/carniceria.jpg" 
            alt="Imagen de Carnicería" 
            style="max-width: 80%; max-height: 40%; border-radius: 10px;"
        >
    </div>
{% endblock %}
