{# templates/contactanos/contactanos.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contáctanos - Carnicería Hnos Galiano{% endblock %}

{% block content %}
<main>
    <h2>Contáctanos</h2>
    <p>Estamos aquí para ayudarte. Si tienes alguna pregunta o necesitas más información sobre nuestros productos, no dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>

    <h3>Dirección</h3>
    <p>Calle Mayor, 123, 28001, Madrid</p>

    <h3>Teléfono</h3>
    <p>+34 912 345 678</p>

    <h3>Correo Electrónico</h3>
    <p><a href="mailto:info@carniceriagaliano.com">info@carniceriagaliano.com</a></p>

    <h3>Horario de Atención</h3>
    <p>Lunes a Viernes: 9:00 - 19:00<br>Sábado: 9:00 - 14:00<br>Domingo: Cerrado</p>

    <!-- Puedes añadir un formulario de contacto aquí si es necesario -->
</main>
{% endblock %}
